body {
    background-color: rgba(0, 0, 0, 0.616);
}

.pixel {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.container {
    border-style: solid;
    width: 500px;
    display: grid;
}