body {
    background-color: rgba(0, 0, 0, 0.616);
}

.pixel {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(184, 184, 184);
}

.container {
    border-style: solid;
    width: 500px;
    display: grid;
}

.colored {
    background-color: rgb(0, 0, 0);
}